<link rel="stylesheet" href="styles.css">
<head>
  <style>
    a {
      color: white;
      text-decoration: underline;
    }

</style>
<style>
 body {
   background-color: black;
     color: red;
 }
</style>

<style>
img {
  box-shadow: 0 0 10px 5px rgba(255,255,255,255,0.5);
}
</style>

<body {
  font-family: Helvetica;
}

<title>Musiikki</title>

</head>

<main>
<h1 class="otsikko">Musiikki</h1>
  <style>

.otsikko {
  color: green;
}
</style>

<h2 class="Kuuntelu">Tässä on siitä minkälaista musiikkia kuuntelen</h2>
<style>

.Kuuntelu {
  color: blue;
}
</style>

<img src="lightshow-22314_640.jpg" alt="metallimusiikki/>

<section>
  <h2 class="lista">Tässä lista:</h2>
<style>
.lista {
  color: purple; 
}
</style>

<ol>
<li>Heavy Metal</li>
<li>Power metal</li>
<li>Symphonic metal</li>
<li>Industrial metal</li>
<li>Folk metal</li>
<li>Darkwave</li>
<li>Gothic Rock</li>
</ol>

<style>

a: hover {cover: brown;}

a: active {color: white;
           

</main>



