
<style>
body {
  background-color: grey;
}
h1 {
  color: red;
  text-align: center;
}

h3 {
  text-align: Center;
  font-family: Helvetica;
  font-size: 20px;
}

</style>
</head>
 <body>

<h1>Kotisivuni CSS:ää käyttäen</h>
<h3>Tässä kerron vähän erilaisista lempiasioistani</h3>


<style>
p {
  color: brown;
  text-align: center;

  font-family: Helvetica;
  font-size: 20px;
}

  </style>

  <p>Aloitetaan lempiruuista ja juomista</p>

  <p>Tykkään syödä pastaruokia ja <strong>tulista</strong> ruokaa</p>

<style>
h4 {
  color: green;
  text-align: center;

  font-family: Helvetica;
  font-size: 20px;
}

</style>

<h4>Seuraavaksi on lempieläinteni vuoro</h4>
<h4>Minulla on monta lempieläintä mutta ne mitkä yleensä ovat:</h4>

<h3>Korppi</h3>

<h3>Susi</h3>

<style>
h5 {
  color: red;
  text-align: center;

  font-family: helvetica;
  font-size: 20px;

  <h5>Viimeiseksi kerron vielä minkälaista musiikkia tykkään kuunnella</h5>

  </body>
  </html>

<body {
  font-family: Helvetica;
}

<style>
.keskitetty {
  text-align: center;
}
<div class="keskitetty">h1, h2, ol, li</div>

</style>

<title>Musiikki</title>

</head>

<main>
<h1 class="otsikko">Musiikki</h1>
  <style>

.otsikko {
  color: green;
}
</style>

<h2 class="Kuuntelu">Tässä on siitä minkälaista musiikkia kuuntelen</h2>
<style>

.Kuuntelu {
  color: blue;
}
</style>

<img src="lightshow-22314_640.jpg" alt="metallimusiikki/>

  </style>

  <style>

<section>
  <h2 class="lista">Tässä lista:</h2>

.lista {
  color: purple; 
}
</style>

<ol>
<li>Heavy Metal</li>
<li>Power metal</li>
<li>Symphonic metal</li>
<li>Industrial metal</li>
<li>Folk metal</li>
<li>Darkwave</li>
<li>Gothic Rock</li>
</ol>

<style>

a: hover {cover: brown;}

a: active {color: white;
           

</main>



